body {
  margin: 0;
  padding: 0; }

body {
  background-image: linear-gradient(#b6fbff, #ffffff); }

.header__fondo__imagen {
  background-image: url(../pages/imagen/chicas-en-la-playa-de-espalda.jpg);
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: cover;
  height: 650px;
  width: 100%;
  padding: 0%; }

.navegador__menu__listas ul li {
  font-size: 25px; }
  .navegador__menu__listas ul li a:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    width: 100%;
    font-size: 30px; }

.logo__imagen {
  width: 80%;
  filter: brightness(9);
  margin-left: -150px; }

.titulo__header {
  font-size: 55px;
  color: #3030f0;
  font-family: "Fjalla One", sans-serif;
  font-weight: bold; }

.titulo__header__secundario {
  font-size: 15px;
  font-weight: bold;
  color: #eeeeee;
  text-transform: uppercase;
  word-spacing: 8px;
  text-shadow: 2px 2px 5px blue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start; }

.titulo__header__resalto {
  font-size: 25px; }

.titulo__contenedor {
  color: #3030f0;
  text-align: center;
  font-size: 38px;
  font-family: "Bebas Neue", cursive;
  text-shadow: black 2px 2px;
  border-radius: 15px; }

.titulos__principales {
  font-size: 25px;
  border-radius: 20px;
  background-image: radial-gradient(blue, white);
  text-shadow: black 3px 3px;
  color: white; }

.grid-imagen2 img:hover {
  transform: scale(1.2, 1.2); }

.videos1:hover {
  transform: scale(1.3, 1.3); }

.videos2:hover {
  transform: scale(1.3, 1.3); }

.videos3:hover {
  transform: scale(1.3, 1.3); }

.videos4:hover {
  transform: scale(1.3, 1.3); }

.texto {
  font-weight: bolder; }

.titulos__paquetes {
  background-image: radial-gradient(blue, white);
  text-shadow: black 3px 3px;
  background-color: #3030f0;
  color: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  box-sizing: border-box;
  width: 100%; }

.container__tablas {
  justify-items: center;
  overflow: hidden; }

.sombra, table {
  box-shadow: 5px 5px; }

.sombra__imagen, .bariloche-ico, .ezeiza-ico, .corrientes-ico {
  color: #a7a1a1;
  box-shadow: 3px 3px; }

table {
  border: 3px solid black;
  margin: 10px auto;
  width: 50%;
  height: 200px; }
  table th {
    color: blue;
    background-color: #cecefd;
    border: 1px solid;
    font-family: "Bebas Neue", cursive;
    font-size: 30px; }
  table td {
    border: 1px solid; }

.bariloche-ico {
  background-image: url("../pages/imagen/img-paquetes/bariloche.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%; }

.ezeiza-ico {
  background-image: url("../pages/imagen/img-paquetes/ezeiza.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%; }

.corrientes-ico {
  background-image: url("../pages/imagen/img-paquetes/corrientes.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%; }

.formulario__contenedor {
  margin: 0;
  padding: 1em;
  background-color: #c3eeee; }

.formulario__info {
  margin: 0;
  padding: 1em;
  background: #3030f0;
  color: white;
  text-align: center; }

.clase1 {
  color: red; }

.redesSocial__fixed {
  position: fixed;
  bottom: 0px;
  right: 0;
  width: 190px;
  height: 60px; }
  .redesSocial__fixed .btn__twitter:hover {
    transform: scale(1.3, 1.3);
    cursor: hand; }
  .redesSocial__fixed .btn__Facebook:hover {
    transform: scale(1.3, 1.3);
    cursor: hand; }
  .redesSocial__fixed .btn__whatsapp:hover {
    transform: scale(1.3, 1.3);
    cursor: hand; }
  .redesSocial__fixed img {
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-left: 5px; }
  .redesSocial__fixed img .twitter {
    transform: scale(1.25); }
  .redesSocial__fixed img .whatsapp {
    transform: scale(0.95); }

@media (max-width: 576px) {
  .logo__imagen {
    width: 100%;
    height: auto;
    filter: brightness(9);
    margin-left: -20px; }
  .nav__top {
    margin-top: 10px; }
  .nav__ul {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer__logo {
    width: 100%; }
  .titulo__header__secundario {
    padding-top: 80px;
    align-content: space-around; }
  .header__fondo__imagen {
    background-image: url(../pages/imagen/chicas-en-la-playa-de-espalda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    top: 0%; }
  .media1 {
    display: none; } }

@media (max-width: 320px) {
  .logo__imagen {
    width: 160%;
    filter: brightness(9);
    margin-top: -30px;
    margin-left: -30px; }
  .footer__logo {
    width: 100%; }
  .nav__top {
    margin-top: 10px; }
  .titulo__header__secundario {
    padding-top: 110px; }
  .header__fondo__imagen {
    background-image: url(../pages/imagen/chicas-en-la-playa-de-espalda.jpg);
    background-repeat: no-repeat;
    background-position: -300px;
    background-size: cover;
    height: 600px;
    top: 0%; }
  .media1 {
    display: none; } }
