body {
  margin: 0;
  padding: 0; }

body {
  background-image: linear-gradient(#b6fbff, #ffffff); }

.header__fondo__imagen {
  background-image: url(../pages/imagen/chicas-en-la-playa-de-espalda.jpg);
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: cover;
  height: 650px;
  width: 100%;
  padding: 0%; }

.navegador__menu__listas ul li {
  font-size: 25px; }
  .navegador__menu__listas ul li a:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    width: 100%;
    font-size: 30px; }

.logo__imagen--width {
  width: 80%; }

.titulo__contenedor {
  color: #3030f0;
  text-align: center;
  font-size: 38px;
  font-family: "Bebas Neue", cursive;
  text-shadow: black 2px 2px;
  border-radius: 15px; }

.titulos__principales {
  font-size: 25px;
  border-radius: 20px;
  background-image: radial-gradient(blue, white);
  text-shadow: black 3px 3px;
  color: white; }

.grid-imagen2 img:hover {
  transform: scale(1.2, 1.2); }

.videos1:hover {
  transform: scale(1.3, 1.3); }

.videos2:hover {
  transform: scale(1.3, 1.3); }

.videos3:hover {
  transform: scale(1.3, 1.3); }

.videos4:hover {
  transform: scale(1.3, 1.3); }

.texto {
  font-weight: bolder; }

.titulos__paquetes {
  background-image: radial-gradient(blue, white);
  text-shadow: black 3px 3px;
  background-color: #3030f0;
  color: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  box-sizing: border-box;
  width: 100%; }

.container__tablas {
  justify-items: center;
  overflow: hidden; }

.sombra, table {
  box-shadow: 5px 5px; }

.sombra__imagen, .bariloche-ico, .Ezeiza-ico, .corrientes-ico {
  color: #a7a1a1;
  box-shadow: 3px 3px; }

table {
  border: 3px solid black;
  margin: 10px auto;
  width: 50%;
  height: 200px; }
  table th {
    color: blue;
    background-color: #cecefd;
    border: 1px solid;
    font-family: "Bebas Neue", cursive;
    font-size: 30px; }
  table td {
    border: 1px solid; }

.bariloche-ico {
  background-image: url("/src/pages/imagen/img Paquetes/bariloche.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%; }

.Ezeiza-ico {
  background-image: url("/src/pages/imagen/img Paquetes/Ezeiza.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%; }

.corrientes-ico {
  background-image: url("/src/pages/imagen/img Paquetes/corrientes.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%; }

.formulario__contenedor {
  margin: 0;
  padding: 1em;
  background-color: #c3eeee; }

.formulario__info {
  margin: 0;
  padding: 1em;
  background: #3030f0;
  color: white;
  text-align: center; }

.redesSocial__fixed {
  position: fixed;
  bottom: 0px;
  right: 0;
  width: 190px;
  height: 60px; }
  .redesSocial__fixed .btn__twitter:hover {
    transform: scale(1.3, 1.3);
    cursor: hand; }
  .redesSocial__fixed .btn__Facebook:hover {
    transform: scale(1.3, 1.3);
    cursor: hand; }
  .redesSocial__fixed .btn__whatsapp:hover {
    transform: scale(1.3, 1.3);
    cursor: hand; }
  .redesSocial__fixed img {
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-left: 5px; }
  .redesSocial__fixed img .twitter {
    transform: scale(1.25); }
  .redesSocial__fixed img .whatsapp {
    transform: scale(0.95); }

@media (max-width: 576px) {
  .logo-img {
    width: 80%;
    height: 100px; }
  .header-imagen-fondo {
    background-image: url(../Imagen/chicas-en-la-playa-de-espalda.jpg);
    background-repeat: no-repeat;
    background-position: -350px;
    background-size: cover;
    height: 600px;
    top: 0%; }
  .media1 {
    display: none; } }

@media (max-width: 320px) {
  .logo-img {
    width: 70%;
    height: 100px; }
  .header-imagen-fondo {
    background-image: url(../Imagen/chicas-en-la-playa-de-espalda.jpg);
    background-repeat: no-repeat;
    background-position: -380px;
    background-size: cover;
    height: 600px;
    top: 0%; }
  .media1 {
    display: none; } }
