
$redes:(
    twitter:#00acee,
    Facebook:#3b5998,
    whatsapp:#00bb2d
);

.redesSocial__fixed {
    position: fixed;
    bottom: 0px;
    right: 0;
    width: 190px;
    height: 60px;

    @each $red, $color in $redes{.btn__#{$red}:hover{
        transform: scale(1.3,1.3);
        cursor: hand;
        }
    }

    img{
        height: 50px;
        width: 50px;
        margin-top: 5px;
        margin-left: 5px;
    }

    img .twitter {
        transform: scale(1.25);
    }

    img .whatsapp {
        transform: scale(0.95);
    }
}
