
$header-fondo-height: 650px;
$header-fondo-width: 100%;
$header-titulo-color: rgb(48, 48, 240);
$header-titulo-fuente:'Fjalla One', sans-serif;
$header-titulo-fuente-t: 55px;

.header__fondo__imagen {
    background-image: url(../pages/imagen/chicas-en-la-playa-de-espalda.jpg);
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: cover;
    height: $header-fondo-height;
    width: $header-fondo-width;
    padding: 0%;
}

.navegador__menu__listas {
    ul{
        li{
            font-size: 25px;
            a:hover{
                background-color: white;
                color: black;
                cursor: pointer;
                width: 100%;
                font-size: 30px;
            }
        }
    }
}


.logo__imagen {
    width: 80%;
    filter: brightness(9);
    margin-left: -150px;
}

.titulo__header {
    font-size:$header-titulo-fuente-t ;
    color: $header-titulo-color ;
    font-family:$header-titulo-fuente ;
    font-weight: bold;
}

.titulo__header__secundario {
    font-size: 15px;
    font-weight: bold;
    color: rgb(238, 238, 238);
    text-transform: uppercase;
    word-spacing: 8px;
    text-shadow: 2px 2px 5px blue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.titulo__header__resalto {
    font-size: 25px;
}