$media320-fondo-position: -300px;
$media320-fondo-height: 600px;




@media (max-width: 320px) {
    .logo__imagen {
        width: 160%;
        filter: brightness(9);
        margin-top: -30px;
        margin-left: -30px;
    }


    .footer__logo{
        width: 100%;
    }

    .nav__top{
        margin-top: 10px;
    }

    .titulo__header__secundario {
        padding-top: 110px;
    }

    .header__fondo__imagen {
        background-image: url(../pages/imagen/chicas-en-la-playa-de-espalda.jpg);
        background-repeat: no-repeat;
        background-position: $media320-fondo-position;
        background-size: cover;
        height: $media320-fondo-height;
        top: 0%;
    }
    .media1 {
        display: none;
    }
}